.magic-btn {
  background: cornflowerblue;
  color: white;
  padding: 10px 20px;
  border: 10px;
  transition: all 0.3s ease;
  margin: px;
}

.magic-btn:hover {
  background: royalblue;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
